 <!-- footer
   ================================================== -->
   <footer>

    <div class="row">

       <div class="twelve columns">

          <ul class="social-links">
             <li><a href="#"><i class="fa fa-facebook"></i></a></li>
             <li><a href="#"><i class="fa fa-twitter"></i></a></li>
             <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
             <li><a href="#"><i class="fa fa-instagram"></i></a></li>
          </ul>

          <ul class="copyright">
             <li>&copy; Copyright 2020 Deepinder Kaur</li>
          </ul>

       </div>
    </div>

 </footer> 
 
 <!-- Footer End-->